{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'apiapp/css/main.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">

    <title>Бухгалтерия 1.0</title>
</head>
<body> 
    <div class="content-head">
        <h1>Accounting 1.0</h1>
    </div>
   <div class="container">
   
    <div class="user-title">
        <div class="user-title-profile">
            <img src="../../static/apiapp/img/user-icon.svg" alt="" class="user-title-icon">
            <h2 class="user-title-name">User_name</h2>
            <div class="user-title-icon-pen">
                <img src="../../static/apiapp/img/pen.svg" alt="" >
            </div>   
        </div>
        
        <p class="user-title-total-balance">Balance: <span id="balance-money">10000$</span></p>
    </div>

    <div class="content-body">
        <div class="content-body-head">
            <div class="debt">
                <ul>
                    <li>
                        <p>My debts
                            <img src="../../static/apiapp/img/debt.svg" alt="">  
                        </p>
                    </li>
                    <li>
                        <p>History 
                            <img src="../../static/apiapp/img/history.svg" alt="">
                        </p>
                    </li>
                    <li>
                        <p>History 
                            <img src="../../static/apiapp/img/history.svg" alt="">
                        </p>
                    </li>
                    <li>
                        <p>History 
                            <img src="../../static/apiapp/img/history.svg" alt="">
                        </p>
                    </li>
                    <li>
                        <p>History 
                            <img src="../../static/apiapp/img/history.svg" alt="">
                        </p>
                    </li>
                </ul>
                
            
            </div>
            
            <div class="content-body-transfer">
                <button class="content-body-transfer-income" type="submit" id="btn1">Income<span>+</span></button>
                <button class="content-body-transfer-expenditure" type="submit" id="btn2">Expenditure <span>-</span></button> 
            </div>   
        </div>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Type of expenses</th>
                    <th>Name of expenses</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            
    </div>
   </div>
</body>
</html>