{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'apiapp/css/main.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Бухгалтерия 1.0</title>
</head>
<body> 
    
   <div class="container">
   
    <div class="user-title">
        <div class="user-title-profile">
            <img src="../../static/apiapp/img/user-icon.svg" alt="" class="user-title-icon">
            <h2 class="user-title-name">User_name</h2>
            <div class="user-title-icon-pen">
                <img src="../../static/apiapp/img/pen.svg" alt="" >
            </div>   
        </div>
        
        <p class="user-title-total-balance">Баланс: <span id="balance-money">0 ₽</span></p>
        <div class="profile">
        <img src="../../static/apiapp/img/profile.svg" alt="">
        <p>Sign in</p>
    </div>
    </div>
    

    <div class="content-body">
        <div class="content-body-head">
            <div class="debt">
                <ul>
                    <li>
                        <div class="debt-btn-l"></div>
                        <p>My debts
                            <img src="../../static/apiapp/img/debt.svg" alt="">  
                        </p>
                        <div class="debt-btn-r"></div>
                    </li>
                    <li>
                        <div class="debt-btn-l"></div>
                        <p>My deposits
                            <img src="../../static/apiapp/img/deposits.svg" alt="">
                        </p>
                        <div class="debt-btn-r"></div>
                    </li>
                    <li>
                        <div class="debt-btn-l"></div>
                        <p>My cheques
                            <img src="../../static/apiapp/img/cheque.svg" alt="">
                        </p>
                        <div class="debt-btn-r"></div>
                    </li>
                    <li>
                        <div class="debt-btn-l"></div>
                        <p>History 
                            <img src="../../static/apiapp/img/history.svg" alt="">
                        </p>
                        <div class="debt-btn-r"></div>
                    </li>
                    <li>
                        <div class="debt-btn-l"></div>
                        <p>Reserve fond
                            <img src="../../static/apiapp/img/gold.svg" alt="">
                        </p>
                        <div class="debt-btn-r"></div>
                    </li>
                    
                    
                    
                </ul>
                
            
            </div>
            
            <div class="content-body-transfer">
                <h2>Add an entry</h2>  
                <div class="content-body-transfer-btn">
                    <button class="content-body-transfer-income" type="submit" id="btn1" onclick="clickClack()">Income<span>+</span></button>
                    <button class="content-body-transfer-expenditure" type="submit" id="btn2" onclick="clickClack2()">Expenditure <span>-</span></button> 
                </div>
                <h2>Upload cheque</h2>
                <div class="content-body-transfer-download-btn">
                    <button type="submit">Upload file <img src="../../static/apiapp/img/save.svg" alt=""></button>
                </div>   
            </div>
        </div>
            <div class="table-line">
                <div class="table-btn">
                    <button>Find <img src="../../static/apiapp/img/find.svg" alt=""></button>
                </div>
                <div class="table-btn">
                    <button>Incomes <img src="../../static/apiapp/img/arrow-up.svg" alt=""></button>
                </div>
                <div class="table-btn">
                    <button>Expenditures <img src="../../static/apiapp/img/arrow-down.svg" alt=""></button>
                </div>
                <div class="table-btn">
                    <button>Open all <img src="../../static/apiapp/img/all.svg" alt=""></button>
                </div>
                <div class="table-btn">
                    <button>Save <img src="../../static/apiapp/img/save-list.svg" alt=""></button>
                </div>
            </div>
            <table id="table_accounting">
                <thead>
                    <th>Date</th>
                    <th>From/Where</th>
                    <th>Type of operation</th>
                    <th>Name of operation</th>
                    <th>Amount</th>
                </thead>
                <tr>
                    <td>00-00-0000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0 ₽</td>
                </tr>
                <tr>
                    <td>00-00-0000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0 ₽</td>
                </tr>
                
                <tr>
                    <td>00-00-0000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0 ₽</td>
                </tr>
                
                <tr>
                    <td>00-00-0000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0 ₽</td>
                </tr>
                <tr>
                    <td>00-00-0000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0 ₽</td>
                </tr>
                <tr>
                    <td>00-00-0000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0 ₽</td>
                </tr>
                <tr>
                    <td>00-00-0000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0 ₽</td>
                </tr>
                
                
            </table>    
    </div>
   </div>
   <script src="{% static 'apiapp/js/main.js' %}"></script>
</body>
</html>