.container{
    max-width: 1300px;
    
    margin: 0 auto;
    background-color: #f8f8f8;
}

.container-head{
    max-width: 1300px;
    
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    
    background-color: #f8f8f8;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Signika Negative', sans-serif;
}
.content-head{
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: transparent;
}

.user-title{
    background-color: #ffd970;
    padding: 5px 50px;
}
.user-title-profile{
    display: flex;
    margin-left: 20px;
    color: #1c274c;
    align-items: center; 
}
.user-title-icon{
    width: 35px;
    height: 35px;
    margin: 0;
}
.user-title-icon-pen{
    margin-left: 5px;
    height: 50px;
}
.user-title-icon-pen img{
    width: 20px;
    height: 20px;
    padding-top: 15px;
    cursor: pointer;
}
.user-title-icon-pen img:hover{
    transform: scale(1.15);
    transition: 0.1s ease-in;
    transform-origin: center, center;
    transform-box: fill-box; 
}
.user-title-name{
   margin-left: 15px;
   font-size: 20px; 
   font-family: "Open Sans", sans-serif;
   font-weight: 500;
}
.content-body-right{
    margin-top: 30px;
    display: flex;
    margin-bottom: 40px;
}
.user-title-total-balance{
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    border-bottom: 1px solid #d7dde9;
    
    width: 250px;
    height: 60px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    display: block;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #f0f4ff;

}

.user-title-total-balance p{
    margin-left: 25px;
}

.balance-change{
    background-color: #f0f4ff;
    
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 36px;
    width: 250px;
  
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 0px;
    
}
.balance-change img{
    align-items: center;
    margin-left: 7px;
    width: 13px;
    height: 13px;
    margin-top: 1px;
}
.balance-change:hover{
    cursor: pointer;
    background-color: #dee3f1;
    transition: .1s ease-in;
    
    
}
.balance-change:active{
    cursor: pointer;
    background-color: #bec4d3;
    transition: .1s ease-in;
    
    
}
.balance-change:not(:hover){
    transition: .1s ease-in;
}
.profile{
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    cursor: pointer;
    
}
.profile a{
    text-decoration: none;
}
.profile:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in;
}
.profile p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    
    font-family: "Open Sans", sans-serif;
}
.profile img{
    width: 30px;
    height: 30px;
}
#balance-money{
    color: green;
    margin-left: 10px;
}
.content-body{
    margin: 0 20px;  
    height: 800px;
    
}
.content-body-head{
    display: block;
    justify-content: space-between;
    align-items:center;
    margin: 35px 0 20px 0;
    border: none;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    padding: 15px 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
}
.debt img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-left: 5px;
}
.debt ul{
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin-top: 0;
}
.debt li{
    font-size: 14px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    list-style: none;
    justify-content: space-between;
    margin-left: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0 0px 0;
    width: 300px;
    
}
.debt li:first-child{
    margin-left: 0;
}
.debt p{
    margin: 0;
}
.debt-btn-l{
    background-color: #ffd970;
    width: 30px;
    height: 36px;
    margin-right: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 250px;
}
.debt-btn-r{
    
    width: 20px;
    height: 25px;
    margin-left: 0px;
}
.debt li:hover{
    transform: scale(1.03);
    transition: 0.1s ease-in;
    cursor: pointer;
    color: #155aa8;
    background-color: #f7fcff;
    border-color: #1c274c;;
}
.debt li:not(:hover){
    transition: .1s ease-in;
}
.content-body-transfer{
    justify-content: right;
    text-align: center;
    margin-right: 30px;
}
.content-body-table{
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 7px;

}
.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    display: none;
    cursor: pointer;
}
.modal-window{
    max-width: 1200px;
    background-color: #eeeeee;
    margin: auto;
    border-radius: 15px;
    cursor: default;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .4);
    position: relative;
    height: 300px;
    text-align: center;
    
}
.modal-window h2{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
}
.modal-window table{
    border-collapse: collapse;
    margin-top: 20px;
}
.modal-window table, th, td{
    font-size: 20px;
    margin: 20px 50px;
    border: 1px solid  #1c274c;
    padding: 4px 5px;
    height: 30px;
    text-align: center;
}
.modal-window th{
    background-color: #ffd970;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.modal-window td{
    font-size: 18px;
    max-width: 100px;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}
.modal-window input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 18px;
    background-color: #f9f9f9;
    text-align:center;
    padding: 0;
}
.modal-window input:focus{
    outline: none;
}
.del-win input{
    width: 300px;
    border-radius: 5px;
} 
.add-modal-window{
    padding: 8px 35px;
    background-color: #ffd970;
   
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    border:none;
    border-radius: 33px;
    cursor: pointer;
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
}
.add-modal-window:hover{
    background-color: #ffde84;
    transition: .1s ease-in;
}
.add-modal-window:active{
    background-color: #d7b555;
    transition: .1s ease-in;
}
.exp-modal-window{
    padding: 8px 35px;
    background-color: #ffd970;
    
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    border:none;
    border-radius: 33px;
    cursor: pointer;
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
}
.exp-modal-window:hover{
    background-color: #ffde84;
    transition: .1s ease-in;
}
.exp-modal-window:active{
    background-color: #d7b555;
    transition: .1s ease-in;
}

.del-modal-window{
    padding: 8px 35px;
    background-color: #ffd970;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    border:none;
    border-radius: 33px;
    cursor: pointer;
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
}
.del-modal-window:hover{
    background-color: #ffde84;
    transition: .1s ease-in;
}
.del-modal-window:active{
    background-color: #d7b555;
    transition: .1s ease-in;
}
.close-modal-window{
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 4px;
    padding: 3px 7px;
}
.close-modal-window:hover{
    background-color: #d45252;
    color: #ffffff;
    transition: .1s ease-in;
}
.content-body-transfer h2{
    font-size: 22px;
}
.content-body-transfer-btn{
    display: flex;
    margin-right: 45px;
    
}
.content-body-transfer-download-btn{
    align-items: center;
    margin-top: 30px;
}
.content-body-transfer-download-btn button{
    border-radius: 5px;
    border: 1px solid #000000;
    margin: 0 auto;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    
    font-weight: 400;
    font-style: normal;
    
}
.content-body-transfer-download-btn img{
    width: 18px;
    height: 16px;
    margin-left: 10px;
    align-items: center;
}
.content-body-transfer button{
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    
}
.content-body-transfer button:hover{
    display: flex;
    align-items: center;
    transform: scale(1.05);
    transition: 70ms ease-in;
    transform-origin: center, center;
    transform-box: fill-box;

}
#btn1:hover{
    background-color: #445da2;
    color: rgb(255, 255, 255);

}
#btn2:hover{
    background-color: #445da2;
    color: rgb(255, 255, 255);

}
.content-body-transfer-income{
    font-size: 16px;
    border: none;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 5px 30px 8px 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #5975c1;
    
}
.content-body-transfer-expenditure{
    padding: 5px 30px 8px 30px;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #5975c1;
}
.content-body table{
    border-collapse: collapse; 
}
.content-body table, td, th{
    font-size: 20px;
    margin: 20px auto 0 auto;
    border: 1px solid  #cacfdd;
    width: 1170px;
    padding: 0;
    height: 30px;
    text-align: center;
    
} 
.content-body th{
    background-color: #535f85;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}
.content-body td{ 

    font-size: 16px;
    max-width: 250px;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f8faff;
}
.content-body th:last-child, td:last-child{
    width: 170px;
    font-size: 14px;
}
.table-line{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 40px;
}
.table-btns{
    display: flex; 
}
.table-btn:first-child{
    margin-left: 45px;
}
.table-btn{
    margin-right: 15px;
    align-items: baseline;
   
}
.table-btn button{
    font-size: 15px;
    align-items: baseline;
    padding: 6px 15px;
    cursor: pointer;
    font-weight: 200;
    color: #000000;
    border: none;
    border-radius: 5px;
    background-color: #ebeffa;
    
}
.table-btn button:hover{
    background-color: #dbe0ec;
}

.table-btn button:not(:hover){
    transition: .1s ease-in;
}

.table-btn img{
    width: 14px;
    height: 14px;
    margin-top: 1px;
    vertical-align:text-top;
    margin-left: 5px;
}

.del-table{
    display: flex;
    justify-content: end;
}


.delete-position{
    font-size: 14px;
    border: none;
    
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px 10px 6px 10px;
    margin-right: 45px;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #5975c1;
    margin-bottom: 40px;
}
.delete-position:hover{
    background-color: #445da2;
    
    border:none;
    transition: .2 ease-in;
    
}

